.modal-content.ui-resizable {
  overflow: hidden;
}

.modal-body.ui-resizable {
    overflow: hidden;
}

.modal-body {
    padding: 0px 0px;
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
    border: 0px solid black;
}

#popup {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 10000;
}

#askforToken {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 10000;
}

.no-close .ui-dialog-titlebar-close {

}

.ciscospark-avatar {

}

.ciscospark-activity-menu-button {
  display: none;
}

.ciscospark-button {

}

.ciscospark-title-bar-wrapper {
    display:inherit;    
}

#widget-events {
    display: flex;
}

.btn-token {
    color: #000000;
    background-color: #ffc526;
    border-color: #ffc526;
}