#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
    border: 0px solid black;
}

#popup {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 10000;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ciscospark-avatar {

}

.ciscospark-activity-menu-button {
  display: none;
}

.ciscospark-button {

}

.ciscospark-title-bar {

}

#widget-events {
  display: none;
}

.btn-token {
    color: #000000;
    background-color: #ffc526;
    border-color: #ffc526;
}